.App {
  margin: 50px 100px;
}

.Navbar {
  display: flex;
  justify-content: space-between;
  background-color: orange;
  padding: 25px;
  border-radius: 5px;
}

.Content {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: purple;
  border-radius: 5px;
  min-height: 800px;
}

.Buttons button {
  margin-left: 10px;
  padding: 0;
  border: none;
  background: none;
}

img {
  max-height: 300px;
  max-width: 300px;
  margin-top: 20px;
}

.name {
  font-size: 30px;
  margin: 50px 0px;
}

.aboutMe-text {
  max-width: 800px;
}

.update-logo-button {
  margin-top: 30px;
}

.todo-list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.todo-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 300px;
  max-width: 350px;
  margin-top: 30px;
}

.task {
  list-style: none;
  padding: 0px;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  margin: 5px 0px;
  font-weight: bold;
  align-items: center;
  border: none;
  background: none;
}

ol {
  display: contents;
}

.logo-button {
  margin-top: 50px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.user-input-area {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: rgb(42, 41, 41);
  color: white;
  min-height: 100px;
  max-width: 350px;
  margin-top: 20px;
}

.contact-form button {
  margin-top: 20px;
}

.characters-container {
  columns: 4 auto;
}

.characters-container img {
  height: 150px;
  width: 150px;
}

.character-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  background-color: rgb(0, 0, 0);
  color: white;
}