img {
  max-height: 300px;
  max-width: 300px;
  margin-top: 20px;
}

.name {
  font-size: 30px;
  margin: 50px 0px;
}

.aboutMe-text {
  max-width: 800px;
}

.todo-list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.todo-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 300px;
  max-width: 350px;
  margin-top: 30px;
  word-wrap: break-word;
}

.tasks-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.task {
  list-style: none;
  padding: 0px;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  margin: 5px 0px;
  font-weight: bold;
  align-items: center;
  border: none;
  background: none;
}

ol {
  display: contents;
}